archspec==0.2.0
argcomplete==2.0.0
coverage==6.2
importlib_metadata==4.0.1; python_version < '3.8'
jsonschema==3.2.0
lxml==4.9.1
pytest==7.0.1
pytest-forked==1.4.0
pytest-parallel==0.1.1
pytest-rerunfailures==10.3
PyYAML==6.0
requests==2.27.1; python_version == '3.6'
requests==2.28.1; python_version >= '3.7'
semver==2.13.0
setuptools==65.6.3; python_version == '3.6'
setuptools==65.6.3; python_version >= '3.7'
wcwidth==0.2.5
#+pygelf%pygelf==0.4.0
