.remark-slide-content h1 {
	font-size: 32px;
	margin-bottom: 10pt;
	margin-top: 0;
}

.remark-slide-content h2 {
	font-size: 26px;
	margin-bottom: 10pt;
	margin-top: 0;
}

.remark-slide-content h3 {
	font-size: 18px;
	margin-bottom: 5pt;
	margin-top: 0;
}

.remark-slide-number {
	right: 
}

img {
	max-width: 100%;
}

.remark-inline-code {
	font-size: 12pt;
	padding: 0.15em;
	border-radius:2.5px;
	margin: 0;
}
.remark-code-line {
	font-size: 12pt;
	padding: 0.15em;
	border-radius:2.5px;
	margin: 0;
}
