# -----------------------------------------------------------------------------
# Taken from /opt/intel/advisor_2018/config/report/roofs.tmpl
# 
# advixe-cl --report custom --report-template ./cscs.tmpl --project-dir=./mydir
# -----------------------------------------------------------------------------
import advixe_discpythonapi1 as discmodels
import sys
import disccli2 as common

def create_table(roofs):
    data = []
    columns = ["Name", "Bandwidth", "Type"]
    data.append(columns)
    if not roofs:
        return data
    for roof in roofs:
        row = [roof.name, str(roof.bandwidth)]
        if roof.has_type(discmodels.roof_type.compute):
            row.append("compute")
        else:
            row.append("memory")
        data.append(row)
    return data

format = environment.cmd_args['output_format']
output = environment.cmd_args['output_file']
delim = environment.cmd_args['csv_delimiter']

if output:
    prev_stdout = sys.stdout
    sys.stdout = open(output, 'w')

project = discmodels.open_project(data_input, _progress,_messenger)
result = project.load(discmodels.ModelType.SURVEY)
if result:
#ok    print(result.get_column_descriptions())
    # bottomup:
    iterjg = result.get_bottomup_rows()
    dictjg0 = next(iterjg)
    print(dictjg0['source_location'],
          dictjg0['total_elapsed_time'], dictjg0['self_elapsed_time'],
          dictjg0['total_time_percent'],dictjg0['self_time_percent'],
          dictjg0['self_gflop'],dictjg0['self_gflops'],
         )

if output:
    sys.stdout = prev_stdout
