alabaster>=0.7.10
argh>=0.26.2
Babel>=2.5.1
certifi>=2017.7.27.1
chardet>=3.0.4
docutils>=0.14
idna>=2.6
imagesize>=0.7.1
Jinja2>=2.9.6
livereload>=2.5.1
pathtools>=0.1.2
port-for==0.3.1
Pygments>=2.2.0
pytz>=2017.2
PyYAML>=3.12
recommonmark>=0.4.0
requests>=2.18.4
setuptools>=31.0.1
six>=1.11.0
snowballstemmer>=1.2.1
Sphinx>=1.7.5
sphinx-autobuild>=0.7.1
sphinx-bootstrap-theme>=0.5.3
sphinx-fakeinv>=1.0.0
sphinx-rtd-theme>=0.2.4
sphinxcontrib-websupport>=1.0.1
sphinxcontrib-versioning>=2.2.1
tornado>=4.5.2
urllib3>=1.22
watchdog>=0.8.3
