alabaster==0.7.12
argh==0.26.2
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
docutils==0.16
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
jsonschema==3.2.0
livereload==2.6.3
pathtools==0.1.2
port-for==0.4
Pygments==2.7.1
pytz==2020.1
PyYAML==5.3.1
recommonmark==0.6.0
requests==2.24.0
setuptools==50.3.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-autobuild==2020.9.1
sphinx-bootstrap-theme==0.7.1
sphinx-fakeinv==1.0.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-websupport==1.2.4
sphinxcontrib-versioning==2.2.1
tornado==6.0.4
urllib3==1.25.10
watchdog==0.10.3
