archspec==0.2.1
docutils==0.17.1 # https://github.com/sphinx-doc/sphinx/issues/9001
jsonschema==3.2.0
semver==2.13.0; python_version == '3.6'
semver==3.0.1; python_version >= '3.7'
Sphinx==7.2.6
sphinx-rtd-theme==1.2.2
