name: ReFrame CI

on: [push, pull_request]

jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        ./bootstrap.sh
    - name: Generic Unittests
      run: |
        pip install coverage
        coverage run --source=reframe ./test_reframe.py
        coverage xml -o coverage.xml
    - name: Upload coverage reports
      uses: codecov/codecov-action@v4.2.0

  unittest-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        ./bootstrap.sh
    - name: Generic Unittests
      run: |
        pip install coverage
        coverage run --source=reframe ./test_reframe.py
        coverage xml -o coverage.xml
    - name: Upload coverage reports
      uses: codecov/codecov-action@v4.2.0

  modulestest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        modules-version: [envmodules, lmod, spack]
    steps:
    - uses: actions/checkout@v4
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build Image for ${{ matrix.modules-version }}
      run: |
        docker build -f ci-scripts/dockerfiles/reframe-${{ matrix.modules-version }}.dockerfile -t reframe-${{ matrix.modules-version }}:latest .
    - name: Run Unittests
      run: |
        docker run --name=reframe-${{ matrix.modules-version }} reframe-${{ matrix.modules-version }}:latest
        docker cp reframe-${{ matrix.modules-version }}:/home/rfmuser/reframe/coverage.xml .
    - name: Upload coverage reports
      uses: codecov/codecov-action@v4.2.0

  eb-spack-howto:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build Image for Tutorial Tests
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
        docker build -f ci-scripts/dockerfiles/eb-spack-howto.dockerfile -t reframe-tutorials:latest .
        docker logout
    - name: Run Tutorial Tests
      run: |
        docker run reframe-tutorials:latest

  unusedimports:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Lint Code Base
      uses: super-linter/super-linter@v6
      env:
        VALIDATE_ALL_CODEBASE: false
        VALIDATE_PYTHON_FLAKE8: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  wheelvalidation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Setup up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Generate Wheel
        run: |
          python -m pip install --upgrade pip setuptools build
          python -m build
      - name: Install Wheel
        run: |
          python -m pip install dist/*.whl
      - name: Test Installation
        run: |
          reframe -V
          reframe -l

  docvalidation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Doc Requirements
        run: |
          python -m pip install -r docs/requirements.txt
      - name: Build documentation
        run: |
          make -C docs
